footer{
    height: 50px;
    position: relative;
    top: 200px;
    justify-content: space-between;
    border: 2px solid black;
    .nav-bar{
        @include reset();
        justify-content: center;
        display: flex;
        .nav-item{
            @include reset();
            list-style-type: none;
            padding: 0 20px;
            height: auto;
            border: 2px solid red;
            .nav-link{                
                font-size: 0.7em; 
                text-decoration: none; 
            }    
            .nav-link:hover{
                color: $links;
            }        
        }
        .nav-item:last-child{
            border:none;
        }
        .copyrigth{
            list-style-type: none;
            padding: 0 50px;
            border:2px solid blue;
            height: auto;
            color: $links-header;
            font-size: 0.8em;
        }       
    }
} 