.modal {
    border-radius: 0.5em;
    width: 50%;
    background:white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    color:black;
    position: fixed;
    top: 20vh;
    left: 25%;
    height: 600px;
}

.modal__header{ 
    display: flex;
    justify-content: center;
    border-radius: 0.2em;
    padding: 1rem;
    background: #359DF4;
    color: white;   
}

.modal__header h1{ 
    margin: 0;
    font-size: 1.25rem;
}

.modal__content{
    padding: 40px;
}

.modal__actions{
    display: flex;
    justify-content: center;
    padding: 10px;
    .profile-button{
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        border:none;
        border-radius: 0.5em;
        cursor: pointer;
        font-size: 1.2em;
        transition: all 0.4s;
        background: #359DF4;
        width: 90px;
        height: 40px;
        font: bold;
        color: white;
    } 
}

.modal__input{
    justify-content: top;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border:none;
    border-radius: 0.5em;
    font-size: 1.2em;
    transition: all 0.4s;
    padding-top: 15px;
    margin-left: 60px;
    width: 330px;
    height: 200px;
    font: bold;
    color: black;
}

.publication-row{
    @include reset();
    display: flex;
    justify-content: space-between;
    align-items: center
}

.publication-image-preview{
    margin-right: 60px;
    height: 302px;
    width: 302px;
}
.div-p{
    margin-left: 60px;
}
