$background: #fafafa;
$text-color: #000;
$main-color: #0084B4;
$links: #0084B4;
$search-active: #0084B4;
$links-header: #66757F;
$background-profile: #359DF4;
$button-primary-background: #359DF4; 
$button-secondary-text: #359DF4;
$backgorund-tweet: #F5F8FA;
$gray:#dbdbdb;
$gray-light: #EFEFEF;
$white:#FFF;
$red: #F00; 
$breakpoint-desktop: 1024px;
$breakpoint-mobile: 640px;
